html, body{
    color:brown;
    margin: 0;
    padding: 0;
    background-color: #0B0718;

}

.section-1{
     background: url("bg.jpg") no-repeat;
    /* height: auto; */
    height: 1000px;
}

.container{
    max-width: 1704px;
    height: 100%;
    margin: 0 auto;
    padding-top: 124px;
    padding-left: 20px;
    padding-right: 20px;
}
.section-1__content{
    width: 100%;
}
.title-image{
    width: 100%;
    max-width: 1552px;
}